<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/L24_Tic_tac_toe_Game/src/com/aurionpro/game/test/GameTesting.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.aurionpro.game.test.GameTesting"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="L24_Tic_tac_toe_Game"/>
</launchConfiguration>
